<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>J-hipster Spring boot 2.0.4 RELEASE</title>
    <!--add another css-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <!--add another js-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/my-app.js"></script>
    <script type="text/javascript" src="js/departement-service.js"></script>
    <script type="text/javascript" src="js/employee-service.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-app="crudApp" ng-controller="GeneralController">
    <div class="panel panel-default">
        <div class="panel-heading">Departement</div>
        <div class="panel-body">
            <div class="col-md-4">
                <form ng-submit="saveDepartement()">
                    <div class="form-group">
                        <label>Departement name:</label>
                        <input type="text" class="form-control" ng-model="departement.name" id="departementName" placeholder="Departement name">
                    </div>
                    <div class="form-group">
                        <label>Departement description:</label>
                        <input type="text" class="form-control" ng-model="departement.description" id="departementDescription" placeholder="Departement Description">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                </form>
            </div>

            <div class="table-responsive col-md-6">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <td>no</td>
                            <td>name</td>
                            <td>description</td>
                            <td>option</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="depart in departements">
                            <td>{{ $index+1 }}</td>
                            <td>{{ depart.name }}</td>
                            <td>{{ depart.description }}</td>
                            <td>
                                <button type="button" ng-click="updateDepartementInit(depart)" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>no</td>
                            <td>name</td>
                            <td>description</td>
                            <td>option</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!--employee-->

    <div class="panel panel-default">
        <div class="panel-heading">Employees</div>
        <div class="panel-body">
            <div class="col-md-4">
            <form ng-submit="saveEmployee()">
                <div class="form-group">
                    <label>Employee Name:</label>
                    <input type="text" class="form-control" ng-model="employee.name" placeholder="Employee Name">
                </div>
                <div class="form-group">
                    <label>Employee salary</label>
                    <input type="number" class="form-control" ng-model="employee.salary" placeholder="Emplyee Salary">
                </div>
                <div class="form-group">
                    <label>Employee Departement</label>
                    <select class="form-control" ng-model="employee.departement"
                            ng-options="departement as departement.name for departement in departements track by departement.id">
                        <option>--Choose One--</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-saved"></span>
                </button>
            </form>
            </div>

            <div class="table-responsive col-md-6">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <td>no</td>
                        <td>name</td>
                        <td>salary</td>
                        <td>departement</td>
                        <td>option</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="emp in employees">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ emp.name }}</td>
                        <td>{{ emp.salary }}</td>
                        <td>{{ emp.departement.name }}</td>
                        <td>
                            <button type="button" ng-click="updateEmployeeInit(emp)" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" onclick="return confirm('sure delete?')" ng-click="deleteEmployee(emp)" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>no</td>
                        <td>name</td>
                        <td>salary</td>
                        <td>departement</td>
                        <td>option</td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>

    </div>
</body>
</html>